@charset "UTF-8";

@import 'az_colors';
@import 'az_layout';
@import 'az_fonts';

* {box-sizing: border-box; text-decoration: none;}

//border
@import 'components/az_body.scss';

//navbar
@import 'components/az_navbar.scss';
@import 'components/az_navbar_containers.scss';
@import 'components/az_navbar_avatar.scss';
@import 'components/az_navbar_item.scss';

//main header & divider
@import 'components/az_divider.scss';
@import 'components/az_main-heading';

//gallery
.az_gallery {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  .az_gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-shrink: none;
    flex-wrap: wrap;
    align-items: center;
@include MQ(S){
display: inline;
max-width: 95%;
background: tomato;
    }
    @include MQ (M) {
display: flex;
clear: both;
    }
  }
  .second-row {
    @include MQ(M){
      margin-top: -37px;
    }
  }
  .third-row {
    @include MQ(M){
      margin-top: -37px;
    }
  }
}

.az_gallery-item {
  height: 300px;
  width: 300px;
  margin: 10px 0;
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg') no-repeat;
  @include MQ(S){
    background-size: cover;
    max-height: conver;
    max-width: 40%;
    float: left;
    margin: 0 5%;
}
  @include MQ(M){
    clear: both;
    height: 194px;
    width: 194px;
    margin: 0 5px;
    background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg') no-repeat;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
// 
// &:after {
// content: "";
// clear: both;
// display: table;
// }
