@charset "UTF-8";

@import 'az_colors';
@import 'az_layout';
@import 'az_fonts';

* {box-sizing: border-box; text-decoration: none;}

//border
@import 'components/az_body.scss';

//navbar
@import 'components/az_navbar.scss';
@import 'components/az_navbar_containers.scss';
@import 'components/az_navbar_avatar.scss';
@import 'components/az_navbar_item.scss';

//main header & divider
@import 'components/az_divider.scss';
@import 'components/az_main-heading';

//gallery
.az_gallery {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  .az_gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-shrink: none;
    flex-wrap: wrap;
    align-items: center;
    @include MQ(S){
//here      
max-width: 95%;
margin: 0 auto;
background: tomato;
    }
    @include MQ (M) {
      display: flex;
      max-width: 100%;
    }
  }
  .second-row {
    // @include MQ(S){
    // text-align: center;
    // }

    @include MQ(M){
      margin-top: -37px;
    }
  }
  .third-row {
    // @include MQ(S){
    //   margin-top: 10px;
    //   margin-right: 10px;
    // }
    @include MQ(M){
      margin-top: -37px;
    }
  }
}

.az_gallery-item {
  height: 300px;
  width: 300px;
  margin: 10px 0;
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg') no-repeat;
  @include MQ(S){
    height: 250px;
    width: 250px;
  }
  @include MQ(M){
    height: 200px;
    width: 200px;
    margin: 0 5px;
    background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg') no-repeat;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
