:root {
  --siteBackground: #F5F5F5; }

@font-face {
  font-family: NeuzeitGroT_Bold;
  src: url(typos/NeuzeitGroT_Bold.ttf); }
@font-face {
  font-family: sourceSansPro;
  src: url(typos/source-sans-pro/SourceSansPro-ExtraLight.otf); }
@font-face {
  font-family: sourceSansPro_Italic;
  src: url(typos/source-sans-pro/SourceSansPro-ExtraLightIt.otf); }
@font-face {
  font-family: sourceSansPro_Italic;
  src: url(typos/source-sans-pro/SourceSansPro-ExtraLightIt.otf); }
@font-face {
  font-family: sourceSansPro_Regular;
  src: url(typos/source-sans-pro/SourceSansPro-Regular.otf); }
:root {
  --typoParagraph: sourceSansPro;
  --typoHeading: NeuzeitGroT_Bold; }

html {
  font-family: var(--typoParagraph);
  font-size: 16px; }

* {
  box-sizing: border-box;
  text-decoration: none; }

body {
  background: var(--siteBackground);
  border: 15px solid #fff; }
  @media only screen and (min-width: 542.01px) {
    body {
      border: 20px solid #fff; } }

.az_navbar {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 50px;
  align-items: center;
  grid-template-areas: "navbar_logo" "navbar_left-wing" "navbar_right-wing"; }
  @media only screen and (min-width: 899.01px) {
    .az_navbar {
      grid-template-columns: 1fr 100px 1fr;
      grid-template-rows: 50px 50px 50px;
      grid-template-areas: ". . ." "navbar_left-wing navbar_logo navbar_right-wing" ". . ."; } }

.az_navbar_container-left {
  grid-area: navbar_left-wing;
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 899.01px) {
    .az_navbar_container-left {
      justify-content: space-around; } }

.az_navbar_container-right {
  grid-area: navbar_right-wing;
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 899.01px) {
    .az_navbar_container-right {
      justify-content: space-around; } }

.az_navbar_avatar {
  grid-area: navbar_logo;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  text-indent: -9999px;
  border-radius: 100%;
  border-color: 1px solid black;
  background: url("../images/avatar.png") no-repeat;
  background-size: contain; }

.az_navbar_item {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 1px;
  padding: 0 1px; }
  .az_navbar_item a {
    padding: 12px;
    color: #6b6b6b; }
    .az_navbar_item a:hover {
      color: #16a6b6; }
  @media only screen and (min-width: 899.01px) {
    .az_navbar_item {
      margin: 0 5px;
      padding: 10px 0; }
      .az_navbar_item a {
        display: block;
        padding: 3px;
        border-bottom: .5px solid #6c6c6c; }
        .az_navbar_item a:hover {
          color: #16a6b6;
          border-bottom: .5px solid #16a6b6; } }

@media only screen and (min-width: 899.01px) {
  .az_navbar_item-left a {
    padding-right: 30%; } }

@media only screen and (min-width: 899.01px) {
  .az_navbar_item-right a {
    padding-left: 30px; } }

.az_short-divider {
  height: 1px;
  width: 20%;
  margin: 40px auto 10px;
  border-bottom: .2px solid lightgray; }

.az_main-heading {
  font-family: var(--typoHeading);
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding-bottom: 30px; }

.az_gallery {
  display: block;
  margin: 0 auto;
  padding: 20px 0; }
  .az_gallery .az_gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-shrink: none;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (min-width: 542.01px) {
      .az_gallery .az_gallery-wrapper {
        display: inline;
        max-width: 95%;
        background: tomato; } }
    @media only screen and (min-width: 899.01px) {
      .az_gallery .az_gallery-wrapper {
        display: flex;
        clear: both; } }
  @media only screen and (min-width: 899.01px) {
    .az_gallery .second-row {
      margin-top: -37px; } }
  @media only screen and (min-width: 899.01px) {
    .az_gallery .third-row {
      margin-top: -37px; } }

.az_gallery-item {
  height: 300px;
  width: 300px;
  margin: 10px 0;
  background: url("https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg") no-repeat; }
  @media only screen and (min-width: 542.01px) {
    .az_gallery-item {
      background-size: cover;
      max-height: conver;
      max-width: 40%;
      float: left;
      margin: 0 5%; } }
  @media only screen and (min-width: 899.01px) {
    .az_gallery-item {
      clear: both;
      height: 194px;
      width: 194px;
      margin: 0 5px;
      background: url("https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg") no-repeat;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); } }

/*# sourceMappingURL=main.css.map */
