:root {
  --siteBackground: #F5F5F5; }

@font-face {
  font-family: NeuzeitGroT_Bold;
  src: url(typos/NeuzeitGroT_Bold.ttf); }
@font-face {
  font-family: sourceSansPro;
  src: url(typos/source-sans-pro/SourceSansPro-ExtraLight.otf); }
@font-face {
  font-family: sourceSansPro_Italic;
  src: url(typos/source-sans-pro/SourceSansPro-ExtraLightIt.otf); }
@font-face {
  font-family: sourceSansPro_Italic;
  src: url(typos/source-sans-pro/SourceSansPro-ExtraLightIt.otf); }
@font-face {
  font-family: sourceSansPro_Regular;
  src: url(typos/source-sans-pro/SourceSansPro-Regular.otf); }
:root {
  --typoParagraph: sourceSansPro;
  --typoHeading: NeuzeitGroT_Bold; }

html {
  font-family: var(--typoParagraph);
  font-size: 16px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

body {
  background: var(--siteBackground);
  border: 15px solid #fff; }
  @media only screen and (min-width: 542.01px) {
    body {
      border: 20px solid #fff; } }

.az_main-navbar {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-template-areas: "navbar_logo" "navbar_left-wing" "navbar_right-wing"; }
  @media only screen and (min-width: 899.01px) {
    .az_main-navbar {
      grid-template-columns: 1fr 100px 1fr;
      grid-template-rows: 100px 50px 50px;
      grid-template-areas: ". . ." "navbar_left-wing navbar_logo navbar_right-wing" ". . ."; } }

.az_main-navbar_container-left {
  grid-area: navbar_left-wing;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 899.01px) {
    .az_main-navbar_container-left {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.az_main-navbar_container-right {
  grid-area: navbar_right-wing;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 899.01px) {
    .az_main-navbar_container-right {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.az_main-navbar_avatar {
  grid-area: navbar_logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .5px solid #000;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  text-indent: -9999px;
  border-radius: 100%;
  background: #fff; }

.az_main-navbar_item {
  font-size: 18px;
  font-weight: 300;
  color: #6b6b6b;
  line-height: 26px;
  letter-spacing: 1px; }
  @media only screen and (min-width: 899.01px) {
    .az_main-navbar_item a:hover {
      color: #16a6b6; } }

/*# sourceMappingURL=main.css.map */