@charset "UTF-8";

@import 'az_colors';
@import 'az_layout';
@import 'az_fonts';

* {box-sizing: border-box; text-decoration: none;}

//border
@import 'components/az_body.scss';

//navbar
@import 'components/az_cells.scss';

.az_main-navbar {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 100px 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 50px;
  align-items: end;
  span, h1 {
    display: flex;
    justify-content: center;
  }
}

.az_main-navbar_item {
  font-size: 18px;
  font-weight: 300;
  color: #6b6b6b;
  line-height: 26px;
  letter-spacing: 1px;
  @include MQ(M){
    a {
      &:hover {
        color: #16a6b6;
      }
    }
  }
}

.az_main-navbar_item-right {
  align-self: center;
  @include MQ(M){
  align-self: end;
  justify-self: end;
  text-align: right;
  line-height: 40px;
  border-bottom: .5px solid #6b6b6b;
  padding: 0 10% 0 25%;
    &:hover {
      color: #16a6b6;
      border-bottom: .5px solid #16a6b6;
    }
  }
}

.az_main-navbar_item-left {
  @include MQ(M){
    align-self: end;
    justify-self: end;
    text-align: left;
    border-bottom: .5px solid #6b6b6b;
    line-height: 40px;
    padding: 0 25% 0 10%;
    &:hover {
      color: #16a6b6;
      border-bottom: .5px solid #16a6b6;
    }
  }
}

//LOGO REMAINING
.az_main-navbar_avatar {
  align-self: stretch;
  background: #fff;
  border-radius: 100%;
  text-indent: -9999px;
  border-bottom: .5px solid #6b6b6b;
  cursor: pointer;
  @include MQ(M){
    height: 100px;
    align-self: center;
  }
}
