// breakpoints

$S:     542.01px;
$M:     899.01px;
$L:     1182.01px;

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}


//*Touchscreen*//

//Pointing devince accuracy and precence Media Queries

$N:     nome;
$C:     coarse;
$F:     fine;

//TS: Touchscreen
@mixin TS($pointer) {
  @if $pointer == N {
   @media (pointer: $N) { @content; }
  }
  @else if $pointer == C {
    @media (pointer: $C) { @content; }
  }
  @else if $pointer == F {
    @media (pointer: $F) { @content; }
  }
}
