@font-face {
  font-family: "NeuzeitGroT_Bold"; // <h1>
  src: url("../assets/typos/NeuzeitGroT_Bold.ttf");
}

@font-face {
  font-family: "sourceSansPro"; //<p>
  src: url("../assets/typos/source-sans-pro/SourceSansPro-ExtraLight.otf");
}

@font-face {
  font-family: "sourceSansPro_Italic";
  src: url("../assets/typos/source-sans-pro/SourceSansPro-ExtraLightIt.otf");
}

@font-face {
  font-family: "sourceSansPro_Italic";
  src: url("../assets/typos/source-sans-pro/SourceSansPro-ExtraLightIt.otf");
}

@font-face {
  font-family: "sourceSansPro_Regular";
  src: url("../assets/typos/source-sans-pro/SourceSansPro-Regular.otf");
}

:root {
  --typoParagraph: "sourceSansPro";
  --typoHeading: "NeuzeitGroT_Bold";
}

html {
  font-family: var(--typoParagraph);
  font-size: 16px;
}
