.az_gallery_wrapper {
  display: flex;
  justify-content: center;
  flex-shrink: none;
  flex-wrap: wrap;
  align-items: center;
  @include MQ(S){display: inline;}
  @include MQ (M) {display: flex;}
}

.az_gallery_second_row {
  @include MQ(M){margin-top: -37px;}
}
.az_gallery_third_row {
  @include MQ(M){margin-top: -37px;}
}
