.az_navbar_container_left {
  grid-area: navbar_left-wing;
  display: flex;
  justify-content: center;
  @include MQ(M) {
    justify-content: space-around;
  }
}

.az_navbar_container_right {
  grid-area: navbar_right-wing;
  display: flex;
  justify-content: center;
  @include MQ(M) {
    justify-content: space-around;
  }
}
