.az_gallery-background1 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ140_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 tomato);
  }
}
.az_gallery-background2 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ141_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 dodgerBlue);
  }
}
.az_gallery-background3 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ142_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 orange);
  }
}
.az_gallery-background4 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ143_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 black);
  }
}
.az_gallery-background5 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ144_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 Violet);
  }
 }
.az_gallery-background6 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ145_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 MediumSeaGreen);
  }
 }
.az_gallery-background7 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ146_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 white);
  }
 }
.az_gallery-background8 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ147_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 slateBlue);
  }
 }
.az_gallery-background9 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ148_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 lightgray);
  }
 }
.az_gallery-background10 {
  background: url('https://cdn.shopify.com/s/files/1/1239/9388/products/liksquared_element_SQ149_large.jpg');
  &:hover {
  filter: opacity(.5) drop-shadow(0 0 0 teal);
  }
 }
