.az_gallery-item {
  height: 300px;
  width: 300px;
  margin: 10px 0;
  background-position: center center;
  background-repeat: no-repeat;
  &:hover{cursor: pointer;}
  @include MQ(S){
    position: relative;
    height: 170px;
    width: 170px;
    padding: 20%;
    float: left;
    margin: 5px 5%;
    }
  @include MQ(M){
    clear: both;
    padding: 0;
    position: static;
    height: 194px;
    width: 194px;
    margin: 0 5px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }
